/* El contenedor ocupa mínimo el 100% del alto de la ventana del navegador */
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8fafc; /* Fondo gris muy claro típico de redes sociales */
}

/* El contenido del centro se estira automáticamente con flex: 1 */
/* Esto 'empuja' al Footer hacia el fondo de la pantalla */
.mainContent {
  flex: 1;
  width: 100%;
  max-width: 1200px; /* Ancho máximo para que el contenido no se desparrame en pantallas gigantes */
  margin: 0 auto;    /* Centrado horizontal */
  padding: 1.5rem 1rem;
}